body {
    background-color: rgb(123, 100, 116);
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
    border-color: black;
}

table {
    margin: auto;
    margin-top: 50px auto;
    text-align: center;
}

td {
    border-radius: 5px;
}


.cell {
    color: black;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.6;
    transform-style: preserve-3d;
    padding: auto;

}

.cell.hidden:hover {
    transition: 2.6ms;
    transform: scale(1.1);
}

.cell.hidden {
    background-color: #856e6e;
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

}

.cell.shown {
    box-shadow: inset 3px 3px 6px rgba(190, 129, 129, 0.783);
}

h1 {
    font-size: 40px;
    color: white;
}

.timer-display {
    /* display: right; */
    margin-top: 20px;
    color: white;
}

.restart-btn {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: auto;
    font-size: 50px;
    border-radius: 20px;
}

.lives {
    display: inline-block;
    font-size: medium;
    margin: auto;
    height: auto;
    width: auto;
    margin-top: 10px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    border-radius: 10px;
}

.difficulty-btn-container button {
    font-size: large;
    border-radius: 5px;
}

img {
    width: 70px;
    background-color: rgb(123, 100, 116);

}

img:hover {
    cursor: pointer;
    scale: 1.15;
    transition: .5s;
}

button.img {
    background-color: rgb(123, 100, 116);
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

button.darkMode {
    display: block;
    margin: auto;
}

#result {
    display: block;
    margin: auto;
}

.safe-click {
    margin-top: 10px;
}

.undo {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}