body {
    background-color: rgb(118, 35, 90);
    text-align: center;
    color: white;
    font-family: "Times New Roman", Times, serif;
    border-color: black;
}

table {
    margin: auto;
    margin-top: 50px auto;
    border: 10px solid rgb(188, 154, 154);
    padding: 10px;
    text-align: center;
    background-color: gray;
}

td {
    border: solid;
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}

.cell {
    color: black;
    border: 1px solid lightgray;
    width: 100px;
    height: 100px;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    padding: auto;
}

.covered {
    border: solid;
    background-color: red;
}

.cell.shown {
    background-color: white;
    border: 1px solid #888;
}

.cell.hidden {
    background-color: #ccc;
}

h1 {
    font-size: 50px;
    color: white;
}

.timer-display {
    margin-top: 20px;
    color: white;
}

.restart-btn {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: auto;
    font-size: 50px;
    border-radius: 20px;
}

.lives {
    margin: auto;
    height: auto;
    width: auto;
    margin-top: 10px;
    background-color: yellow;
}